<% if session["user_id"] != nil%>
  <h1>New Place</h1>

  <form action="/places" method="post">
    <p>
      <label for="name_input">Name</label>
      <input type="text" name="name" id="name_input">
    </p>

    <button>Save</button>
  </form>
<% else %>
  <p>You must be logged in to create a new place</p>
<% end %>